<template>
    <v-container fluid class="container-fluid pa-0">
        <v-card class="wrapper-card-info grey lighten-5">

            <v-card
                    class="card-info"
                    flat
                    tile
            >
                <v-window v-model="onboarding" style="height: 100% !important;">
                    <v-window-item
                            v-for="item in advantages"
                            :key="item.id"
                    >
                        <div class="img-wrapper">
                            <v-img
                                    :src="item.img"
                                    aspect-ratio="1"
                            ></v-img>
                        </div>

                        <div class="wrapper-text">
                            <v-card-text class="title-custom ">
                                {{item.title}}
                            </v-card-text>
                        </div>

                        <div>
                            <v-card-media class="subtitle-custom">{{item.subtitle}}</v-card-media>
                        </div>


                        <v-card-actions class="justify-space-between">

                            <v-item-group
                                    style="width:100%;"
                                    v-model="onboarding"
                                    class="text-center"
                                    mandatory
                            >
                                <v-item
                                        v-for="(n, index) in advantages"
                                        :key="n.id"
                                        v-slot:default="{ active, toggle }"
                                >
                                    <v-btn
                                            small
                                            fab
                                            class="btn-size btn-size-custom"
                                            :style="{'color': onboarding === index ? '#E41826' : '',
                                                        'background-color': onboarding === index ? '#E41826' : ''}"
                                            :input-value="active"
                                            @click="toggle"
                                    >
                                        <v-icon>mdi-record</v-icon>
                                    </v-btn>
                                </v-item>
                            </v-item-group>

                        </v-card-actions>

                        <div class="container-card-actions">
                            <v-btn
                                    text
                                    @click="next"
                                    flat
                            >
                                <!--<v-icon>mdi-chevron-left</v-icon>-->
                                Пропустить
                            </v-btn>
                            <v-btn
                                    style="font-weight: bold;"
                                    color="#E41826"
                                    class="white--text"
                                    text
                                    @click="next"
                            >
                                <!--<v-icon>mdi-chevron-right</v-icon>-->
                                Далее
                            </v-btn>
                        </div>
                    </v-window-item>

                </v-window>

            </v-card>
        </v-card>
    </v-container>
</template>
<script>
    export default {
        name: "index",
        data() {
            return {
                advantages: [
                    {
                        id: 1,
                        img: require('@/statics/images/onboarding/shop.svg'),
                        title: 'Выбери заведение',
                        subtitle: 'Выбери любимое заведение или ближайшее кафе на карте'
                    },
                    {
                        id: 2,
                        img: require('@/statics/images/onboarding/advance.svg'),
                        title: 'Закажи заранее',
                        subtitle: 'Делайте заказ до того как прибыли в заведение. Экономьте своё время.'
                    },
                    {
                        id: 3,
                        img: require('@/statics/images/onboarding/risk.svg'),
                        title: 'Оплата без рисков',
                        subtitle: 'Оплатите заказ через приложение и он будет готов к указанному вами времени. Это удобно и безопасно.'
                    },
                    {
                        id: 4,
                        img: require('@/statics/images/onboarding/queue.svg'),
                        title: 'Везде без очереди',
                        subtitle: 'Нажмите кнопку "Я на месте", как только войдете в кафе - вам сразу же отдадут заказ.'
                    }
                ],
                onboarding: 0
            }
        },
        methods: {
            next() {
                if (this.onboarding === this.advantages.length - 1) {
                    this.$router.push('/places')
                    localStorage.setItem('entried', 1)
                } else {
                    this.onboarding = this.onboarding + 1 === this.length
                        ? 0
                        : this.onboarding + 1
                }
            },
            prev() {
                this.onboarding = this.onboarding - 1 < 0
                    ? this.length - 1
                    : this.onboarding - 1
            },
        }
    }
</script>
<style scoped>
    @import './style.css';
</style>
