@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/ofont.ru_Montserrat.ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../../assets/fonts/ofont.ru_Montserrat_0.ttf');
    font-weight: bold;
}

.title-custom {
    font-family: 'Montserrat-Bold', sans-serif !important;
    font-size: 24px !important;
    padding: 0 !important;
    color: #E41826;
    text-align: center !important;
}

.subtitle-custom {
    font-family: 'Montserrat', sans-serif !important;
    padding: 10px 16px 10px 31px;
    max-height: 80px !important;
    text-align: center;
}

.container-fluid {
    height: calc(100vh - 44px);
}

.card-info {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    z-index: 1000;
    max-width: 100%;
    background: #eee !important;
}

.btn-size-custom {
    height: 15px !important;
    width: 15px !important;
}

.container-card-actions {
    display: flex;
    justify-content: space-around;
}

.v-responsive.v-image {
    justify-content: center;
    align-items: center;
}

.v-responsive__content {
    margin-left: 20px;
    margin-right: 20px;
}

.v-image__image.v-image__image--cover {
    background-size: contain;
    width: 200px;
    height: 200px;
}

.v-image__image, .v-image__placeholder {
    top: auto !important;
    left: auto !important;
}

.wrapper-card-info {
    background: #eee !important;
    display: flex !important;
    justify-content: center;
    z-index: 1000;
    overflow: hidden;
}

.v-window__container {
    height: 100%;
}

.container-card-actions {
    padding-bottom: 10%;
    height: 15%;
    display: flex;
    align-items: flex-end;
}

.v-window-item {
    height: 100% !important;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    align-content: center !important;
}

.v-item-group {
    display: flex;
    justify-content: center;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}