<template>
    <div>
        <v-toolbar app dense>
            <v-btn @touchstart.prevent="$router.go(-1)"
                   icon>
                <v-icon>arrow_back</v-icon>
            </v-btn>
            <v-toolbar-title v-text="cafe.Name"></v-toolbar-title>
        </v-toolbar>

        <v-card class="elevation-0">
            <v-layout fill-height
                      align-center
                      justify-center
                      ma-0>
                <v-flex class="progressItem">
                    <v-img
                            class="white--text"
                            height="200px"
                            v-show="isLoad && cafe.Pic.length"
                            @load="loaded"
                            :src="cafe.Pic"
                    >
                        <template v-slot:placeholder>
                            <v-layout fill-height
                                      align-center
                                      justify-center
                                      ma-0>
                                <v-progress-circular indeterminate color="orange"/>
                            </v-layout>
                        </template>
                    </v-img>
                    <v-img :src="defaultUrl"
                           v-if="!cafe.Pic.length"
                           contain
                           style="width: 100%;height: 200px;"
                    >
                    </v-img>
                </v-flex>
            </v-layout>

            <v-card-text>
        <span class="subheading font-weight-regular">
          О кафе:
        </span>
                <span v-text="cafe.Desc" class="font-weight-light"></span>
                <br>
                <span class="subheading font-weight-regular">
          Адрес:
        </span>
                <span v-text="cafe.Address" class="font-weight-light"></span>
                <br>
                <span class="subheading font-weight-regular">
          Время работы:
        </span>
                <span v-text="cafe.WorkTime" class="font-weight-light"></span>
            </v-card-text>

            <template v-if="menu.length > 0">
                <Menu :data="getModifiedData(cafe, menu)"
                      :pendingServer="pendingServer"
                      :cafeId="this.$route.params.id"
                      :force-order="forceOrder"
                      @changeForceOrder="val => forceOrder = val"
                      @buy="buy"></Menu>
            </template>
            <template v-else>
                <div class="progressItem">
                    <v-progress-circular :width="3"
                                         indeterminate
                                         color="orange lighten-1">
                    </v-progress-circular>
                </div>
            </template>

        </v-card>

        <dialog-login v-if="isDialogShow"
                      :isDialogShow='isDialogShow'
                      @closeDialog="isDialogShow = false"
                      @sign="signIn"></dialog-login>
    </div>
</template>

<style scoped>
    .progressItem {
        width: 100%;
        min-height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<script>
    import Menu from '../../components/menu'
    import {SERVER_MENU_LIST, SERVER_SEND_ORDER} from '../../store/actions/server'
    import {AUTH_REQUEST} from '../../store/actions/auth'
    import moment from 'moment'
    import dialogLogin from '../../components/dialogLogin'

    export default {
        name: 'cafe',
        components: {
            Menu,
            dialogLogin,
        },
        mounted() {
            this.getMenu()
        },
        data: () => ({
            forceOrder: false,
            isLoad: false,
            defaultUrl: require('../../statics/images/default_image.jpg'),
            menu: [],
            pendingServer: false,
            isDialogShow: false
        }),
        computed: {
            cafe() {
                return this.$store.state.server.cafeList.find(item => item.ID === this.$route.params.id)
            }
        },
        methods: {
            loaded() {
                this.isLoad = true
            },
            getMenu() {
                this.$store.dispatch(SERVER_MENU_LIST, this.$route.params.id)
                    .then(data => {
                        this.menu = data
                    })
            },
            getModifiedData(item, menu) {
                const categories = menu.reduce((acc, item) => {
                    acc.add(item.Category)
                    return acc
                }, new Set())

                const categoriesArr = []
                categories.forEach(item => {
                    categoriesArr.push({
                        name: item,
                        title: item,
                        id: this.generateId()
                    })
                })

                const products = menu.map(item => {
                    return {
                        name: item.Name,
                        price: item.Price,
                        description: item.Desc,
                        category: item.Category,
                        categoryId: this.getCategoryIdByName(categoriesArr, item.Category),
                        img: item.Image,
                        time: item.WaitingTime,
                        id: item.ID
                    }
                })


                return {
                    title: item.Name,
                    categories: categoriesArr,
                    products
                }
            },
            getCategoryIdByName(categories, name) {
                return categories.find(category => category.name === name)
            },
            generateId() {
                return `f${(~~(Math.random() * 1e8)).toString(16)}`
            },
            buy(orders) {
                /*
                Login - логин клиента (тип string)
                Token - токен текущей сессии клиента (тип string)
                CartInfoItems - список позиций заказа (array)
                MenuItemID - идентификатор блюда в меню (тип numeric)
                Number - количество штук данного блюда (тип numeric)
                TotalPrice - сумма заказа (тип numeric)
                PickupTimestamp - время выдачи заказа (timestamp в миллисекундах, тип numeric, например: 1559750728957)
                 */

                this.pendingServer = true

                const hour = orders.time.split(':')[0]
                const minute = orders.time.split(':')[1]
                const PickupTimestamp = Number(moment().hour(hour).minute(minute).format('x'))
                const query = {
                    Login: localStorage.getItem('user-login'),
                    Token: localStorage.getItem('user-token'),
                    CartInfoItems: orders.orders.map(item => {
                        return {
                            MenuItemID: item.id,
                            Number: item.count,
                            Price: item.price
                        }
                    }),
                    TotalPrice: orders.total,
                    PickupTimestamp
                }

                this.$store.dispatch(SERVER_SEND_ORDER, query)
                    .then(() => {
                        this.$router.push({
                            name: 'pay'
                        })
                    })
                    .catch(response => {
                        console.log(response, 'response')
                        if (response.data.Status === 'need_register') {
                            this.pendingServer = false
                            this.isDialogShow = true
                        }
                    })
            },
            signIn(email) {
                this.$store.dispatch(AUTH_REQUEST, {
                    login: email,
                    from: 'google',
                    role: 'client'
                })
                    .then(() => {
                        console.log("then")
                        this.isDialogShow = false
                        this.forceOrder = true
                        this.getLastOrders()
                    })
                    .catch(() => {
                        console.log("catch")

                    })
            }
        }
    }
</script>
