<template>
  <div>
    <v-toolbar app dense>
      <v-btn @click="$router.go(-1)"
             icon>
        <v-icon>arrow_back</v-icon>
      </v-btn>
      <v-toolbar-title></v-toolbar-title>
    </v-toolbar>

    <v-card>
      <div id="map" v-bind:style="{'height': mapHeight + 'px'}"></div>

      <div class="bottom-item">
        <template v-if="status === statuses.confirm">
          <div class="wrapper-payment">
            <span class="title">
              Ждем подтверждения заказа от кафе
            </span>
            <v-progress-circular
              indeterminate
              color="primary"
            ></v-progress-circular>
          </div>
        </template>
        <template v-if="status === statuses.canceled">
          <div class="wrapper-payment">
            <span class="title">
              Заказ отменён
            </span>
            <v-btn v-on:click="$router.push('lastOrders')"
                   color="info" >OK</v-btn>
          </div>
        </template>
        <template v-if="status === statuses.payment">
          <div class="wrapper-payment">
            <span class="title">
              Оплата
            </span>
            <v-progress-circular
              indeterminate
              color="primary"
            ></v-progress-circular>
            <div class="my-selector" style="width: 90%;"></div>
          </div>
        </template>
        <template v-if="status === statuses.preparing">
          <div class="wrapper-payment">
            <span class="title">
              Заказ № <span v-text="cafe.orderId"></span> оплачен, готовится.
              <br>
              Ждем вас в <span v-text="cafe.name"></span>
              в <span v-text="cafe.time"></span>
              по адресу <span v-text="cafe.address"></span>
            </span>
          </div>
        </template>
        <template v-if="status === statuses.pickup">
          <div class="wrapper-payment">
            <span class="title">
                Ваш заказ готов!
                <br>
                Пожалуйста, нажмите на эту кнопку, когда зайдете в кафе
              </span>
            <v-btn color="info" v-on:click="setStatusOrderCodeVerify()">Я на месте</v-btn>
          </div>
        </template>
        <template v-if="status === statuses.codeVerify">
          <div class="wrapper-payment">
            <span class="title">
                Код подтверждения
              </span>
            <div v-text="$store.state.server.lastGetPayment.Code"
                 class="display-1"></div>
          </div>
        </template>
        <template v-if="status === statuses.complete">
          <div class="wrapper-payment">
            <span class="title">
              Заказ завершён
            </span>
            <v-btn v-on:click="$router.push('places')"
                   color="info" >OK</v-btn>
          </div>
        </template>
      </div>
    </v-card>

    <v-dialog
      v-model="dialogYandexError"
      width="500"
    >

      <v-card>
        <v-card-title
          class="headline grey lighten-2"
          primary-title
        >
          Ошибка оплаты
        </v-card-title>

        <v-card-text v-text="yandexError">
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            flat
            @click="dialogYandexError = false"
          >
            Понятно
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<style>
  .bottom-item {
    width: 100%;
    height: 300px;
    position: fixed;
    bottom: 0;
    background-color: #ffffffd1;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrapper-payment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .wrapper-payment .title {
    display: inline-block;
    max-width: 80%;
    text-align: center;
    margin-bottom: 15px;
  }

</style>

<script>
import {
  SERVER_SEND_PAYMENT_TOKEN,
  SERVER_GET_PAYMENT,
  SERVER_GET_ORDER_BY_ID,
  SERVER_POST_ORDER
} from '../../store/actions/server'
import moment from 'moment'

export default {
  name: 'Pay',
  mounted () {
    this.fetchGeolocation()
    this.mapHeight = window.screen.height - 56 - 40

    this.getOrderById(this.$store.state.server.lastOrder.orderId)
  },
  beforeDestroy () {
    if (this.poolingStatusPayment) {
      clearTimeout(this.poolingStatusPayment)
    }
    if (this.poolingPayment) {
      clearTimeout(this.poolingPayment)
    }
    if (this.poolingPickup) {
      clearTimeout(this.poolingPickup)
    }
    if (this.poolingCompleteOrder) {
      clearTimeout(this.poolingCompleteOrder)
    }
  },
  data: () => ({
    $checkout: {},
    mapHeight: '400',
    statuses: {
      confirm: 'confirm',
      payment: 'payment',
      paid: 'paid',
      preparing: 'preparing',
      pickup: 'pickup',
      codeVerify: 'code_verify',
      complete: 'complete',
      canceled: 'canceled'
    },
    status: 'confirm',
    order: {},
    map: {},
    codeVerify: '',
    poolingStatusPayment: null,
    poolingPayment: null,
    poolingPickup: null,
    poolingCompleteOrder: null,
    dialogYandexError: false,
    yandexError: '',
    isOpenYandexPaymentOnce: false
  }),
  computed: {
    cafe () {
      return {
        address: this.$store.state.server.lastGetPayment.Cafe.Address,
        name: this.$store.state.server.lastGetPayment.Cafe.Name,
        time: moment(this.$store.state.server.lastGetPayment.PickupTime).format('HH:mm'),
        orderId: this.$store.state.server.lastGetPayment.ID
      }
    }
  },
  methods: {
    getOrderById (id) {
      this.$store.dispatch(SERVER_GET_ORDER_BY_ID, id)
        .then((response) => {
          this.order = response
          this.status = response.StatusValue
          if (response.StatusValue === this.statuses.confirm || response.StatusValue === this.statuses.payment) {
            this.pendingStatusPayment()
          }
          if (response.StatusValue === this.statuses.codeVerify) {
            this.pendingComplete()
          }
        })
    },
    fetchGeolocation () {
      navigator.geolocation.getCurrentPosition(this.onSuccess, this.onError)
    },
    onSuccess (position) {
      this.initMap(position.coords.latitude, position.coords.longitude)
    },
    initMap (lat, lng) {
      // const mapDiv = document.getElementById('map')
      // const options = {
      //   camera: {
      //     target: {
      //       lat,
      //       lng
      //     },
      //     zoom: 12
      //   }
      // }
      // this.map = window.plugin.google.maps.Map.getMap(mapDiv, options)

      this.map = new window.google.maps.Map(document.getElementById('map'), {
        center: {
          lat,
          lng
        },
        zoom: 12,
        disableDefaultUI: true
      })

      this.addMarker({
        lat,
        lng,
        icon: 'ic_marker'
      })

      this.addMarker({
        lat: this.$store.state.server.lastGetPayment.Cafe.Lat,
        lng: this.$store.state.server.lastGetPayment.Cafe.Lng,
        icon: 'ic_marker_cafe'
      })
    },
    addMarker (item) {
      const marker = new window.google.maps.Marker({
        position: {
          lat: item.lat,
          lng: item.lng
        },
        icon: {
          url: require('../../assets/' + item.icon + '.png'),
          size: {
            width: 40,
            height: 40
          },
          scaledSize: {
            width: 40,
            height: 40
          }
        },
        map: this.map
      })

      // marker.on(window.plugin.google.maps.event.MARKER_CLICK, function () {
      //   this.clickToMarker(item)
      // }.bind(this))

      // marker.showInfoWindow()

      return marker
    },
    pendingStatusPayment () {
      this.$store.dispatch(SERVER_GET_ORDER_BY_ID, this.order.ID)
        .then((response) => {
          console.log('response menu pending status', response)

          this.status = response.StatusValue
          switch (response.StatusValue) {
            case 'confirm':
              this.poolingStatusPayment = setTimeout(this.pendingStatusPayment, 1000)
              break
            case 'payment':
              // this.sendPaymentToken('')
              this.status = this.statuses.payment
              this.getPayment()
              // this.yandexPay()
              break
            default: break
          }
        })
    },
    yandexPay () {
      this.status = this.statuses.payment
      const yandexMagazineValue = process.env.VUE_APP_YANDEX_KASSA_MAGAZIN

      this.$checkout = window.YandexCheckoutUI(yandexMagazineValue, {
        language: 'ru',
        domSelector: '.my-selector',
        amount: this.$store.state.server.lastGetPayment.TotalPrice
      })

      this.$checkout.open()

      this.$checkout.on('yc_success', response => {
        console.log(response)
        this.$checkout.chargeSuccessful()

        this.sendPaymentToken(response.data.response.paymentToken)
      })

      this.$checkout.on('yc_error', response => {
        this.yandexPaymentError(response)
      })
    },
    yandexPaymentError (response) {
      this.$checkout.showLantern(response.error.params[0].message)

      this.dialogYandexError = true
      this.yandexError = JSON.stringify(response)
    },
    sendPaymentToken (token) {
      const query = {
        Login: localStorage.getItem('user-login'),
        Token: localStorage.getItem('user-token'),
        Amount: this.$store.state.server.lastGetPayment.TotalPrice,
        OrderId: this.$store.state.server.lastOrder.orderId,
        PaymentToken: token
      }

      this.$store.dispatch(SERVER_SEND_PAYMENT_TOKEN, query)
        .then(() => {
          this.getPayment()
        })
    },
    getPayment () {
      this.$store.dispatch(SERVER_GET_PAYMENT, this.$store.state.server.lastOrder.orderId)
        .then((data) => {
          console.log('get payment', data)
          if (data.Status === 'pending') {
            if (!this.isOpenYandexPaymentOnce) {
              this.isOpenYandexPaymentOnce = true
              const ref = window.cordova.InAppBrowser.open(
                data.ConfirmURL,
                '_blank',
                'location=no,toolbar=no'
              )

              // attach listener to loadstart
              ref.addEventListener('loadstart', function (event) {
                console.log('loadstart', event.url)

                if (event.url.startsWith('http://134.209.87.92')) {
                  ref.close()
                  this.poolingPayment = setTimeout(this.getPayment, 1000)
                }
              }.bind(this))
            } else {
              this.$router.push({ name: 'places' })
            }
          } else if (data.Status === '') {
            this.sendPaymentToken('')
          } else {
            this.status = this.statuses.preparing
            this.pendingStatusPickup()
          }
        })
    },
    // messageEvent (name) {
    //   alert(name.type)
    // },
    pendingStatusPickup () {
      this.$store.dispatch(SERVER_GET_ORDER_BY_ID, this.$store.state.server.lastOrder.orderId)
        .then((response) => {
          console.log('response menu pending status', response)
          if (response.StatusValue !== 'pickup') {
            this.poolingPickup = setTimeout(this.pendingStatusPickup, 1000)
          } else {
            this.status = this.statuses.pickup
          }
        })
    },
    setStatusOrderCodeVerify () {
      this.$store.dispatch(SERVER_POST_ORDER, {
        OrderId: this.$store.state.server.lastOrder.orderId,
        Login: localStorage.getItem('user-login'),
        Token: localStorage.getItem('user-token'),
        Status: 'code_verify'
      })
        .then((response) => {
          this.pendingComplete()
          this.status = this.statuses.codeVerify
        })
    },
    pendingComplete () {
      this.$store.dispatch(SERVER_GET_ORDER_BY_ID, this.order.ID)
        .then((response) => {
          console.log('response menu pending status complete', response)

          if (response.StatusValue !== this.statuses.complete) {
            this.poolingCompleteOrder = setTimeout(this.pendingComplete, 1000)
          } else {
            this.status = this.statuses.complete
          }
        })
    }
  }
}
</script>

<style>
  .yandex-checkout-cardpayment__content{
    width: 85%!important;
    margin-left: 15px!important;
  }
</style>
