<template>
  <div>
    <v-toolbar app dense>
      <v-toolbar-title>
        Последние заказы
      </v-toolbar-title>
    </v-toolbar>

    <v-list three-line>
      <template v-for="item in lastOrders">
        <v-list-tile
          :key="item.Name"
          avatar
          @click="toOrder(item)"
        >
          <v-list-tile-avatar>
            <img :src="item.Cafe.Pic">
          </v-list-tile-avatar>

          <v-list-tile-content>
            <v-list-tile-title v-html="item.Cafe.Name"></v-list-tile-title>
            <v-list-tile-sub-title>
              Общая стоимость: <span v-text="item.TotalPrice + 'р'"></span>
              <br>
              Дата: <span v-text="moment(item.CreatedDate).format('DD/MM/YYYY')"></span>
            </v-list-tile-sub-title>
          </v-list-tile-content>

          <v-list-tile-action>
            Статус: <span v-text="getModifiedStatus(item.StatusValue)" class="body-1 font-weight-light"></span>
          </v-list-tile-action>
        </v-list-tile>
        <v-divider inset></v-divider>
      </template>
    </v-list>
    <dialog-login v-if="isDialogShow"
                  :isDialogShow='isDialogShow'
                  @closeDialog="isDialogShow = false"
                  @sign="signIn"></dialog-login>
  </div>
</template>

<script>

import { SERVER_LAST_ORDERS, SERVER_SEND_ORDER } from '../store/actions/server'
import { AUTH_REQUEST } from '../store/actions/auth'
import moment from 'moment'
import dialogLogin from '../components/dialogLogin'

export default {
  name: 'LastOrders',
  components: {
    dialogLogin
  },
  mounted () {
    this.getLastOrders()
  },
  data: () => ({
    lastOrders: [],
    isDialogShow: false
  }),
  methods: {
    moment,
    signIn (email) {
      this.$store.dispatch(AUTH_REQUEST, {
        login: email,
        from: 'google',
        role: 'client'
      })
        .then(() => {
          this.isDialogShow = false
          this.getLastOrders()
        })
    },
    getLastOrders () {
      this.$store.dispatch(SERVER_LAST_ORDERS)
        .then(lastOrders => {
          this.lastOrders = lastOrders
        })
        .catch(response => {
          if (response.data.Status === 'need_register') {
            this.isDialogShow = true
          }
        })
    },
    getModifiedStatus (status) {
      switch (status) {
        case 'confirm':
          return 'Подтверждение от кафе'
        case 'payment':
          return 'Ожидает оплаты'
        case 'paid':
          return 'Оплачен'
        case 'preparing':
          return 'В процессе приготовления'
        case 'pickup':
          return 'Заказ готов'
        case 'code_verify':
          return 'Сверка заказа'
        case 'complete':
          return 'Завершен'
        case 'canceled':
          return 'Отменен'
        default:
          return ''
      }
    },
    toOrder (item) {
      if (item.StatusValue === 'canceled' || item.StatusValue === 'paid') {
        return
      }

      const order = Object.assign(item, {
        orderId: item.ID
      })
      this.$store.commit(SERVER_SEND_ORDER, order)

      this.$router.push({
        name: 'pay'
      })
    }
  }
}
</script>
