<template>
    <div>
      <v-toolbar app dense>
        <v-toolbar-title>
          Список кафе
        </v-toolbar-title>
      </v-toolbar>
      <v-flex xs12 v-if="places.length > 0">
        <v-card v-for="item in places"
                @click="toCafe(item)"
                :key="item.Name">
          <v-layout>
            <v-flex xs4 style="display: flex;align-items: center;justify-content: center;">
              <div class="pl-2" style="height: 115px; width: 115px">
                <img-load :url="item.Pic"
                          :zoom="false"></img-load>
              </div>
            </v-flex>
            <v-flex xs8>
              <v-card-title primary-title>
                <div style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                  <span v-html="item.Name" class="title"></span>
                  <br>
                  <span v-html="item.Desc"
                        style="height: 65px;display: inline-block;white-space: normal;overflow: hidden;"></span>
                </div>
              </v-card-title>
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>
    </div>
</template>

<script>
import { SERVER_CAFE_LIST } from '../store/actions/server'
import imgLoad from '../components/imgLoad'

export default {
  name: 'List',
  components: {
    imgLoad
  },
  mounted () {
    this.getPlaces()
  },
  data: () => ({
  }),
  computed: {
    places () {
      return this.$store.state.server.cafeList || []
    }
  },
  methods: {
    getPlaces () {
      this.$store.dispatch(SERVER_CAFE_LIST)
        .then(() => {
          this.fetchGeolocation()
        })
    },
    toCafe (item) {
      this.$router.push({
        name: 'cafeItem',
        params: {
          id: item.ID
        }
      })
    }
  }
}
</script>
