<template>
  <v-content>
    <v-container fluid fill-height class="pa-0">
      <v-layout align-center justify-center fill-height>
        <v-flex xs12 sm8 md4 fill-height>
          <v-card class="elevation-12" style="height: 100vh;">
            <v-card-text class="wrapper-nav">
              <v-icon color="#E41826" style="cursor: pointer;font-weight: bold;"
                      @click="$router.go(-1)">close
              </v-icon>
              <span class="title-custom" style="flex-grow: 2;">скоробуду</span>
            </v-card-text>
            <!--            <v-toolbar>-->
            <!--              <v-toolbar-title  color="#E41826">Форма входа</v-toolbar-title>-->
            <!--              <v-spacer></v-spacer>-->
            <!--            </v-toolbar>-->
            <v-card-text class="wrapper-card-text">
              <v-form style="width: 95%;">
                <v-text-field v-model="email"
                              name="email"
                              @keyup.enter="signIn"
                              :label="isEmail ? 'Email' : 'Номер телефона'"
                              type="text"/>
                <a @click="isEmail = !isEmail">Войти по адресу почты</a>
                <div id="uLogin" class="pt-3"
                     :data-ulogin="`display=panel;theme=classic;fields=first_name,last_name;providers=vkontakte,odnoklassniki,facebook,yandex,mailru;redirect_uri=${redirectUrl}/settings;mobilebuttons=0;`">
                </div>
              </v-form>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
  import {AUTH_REQUEST} from '../store/actions/auth'
  import {SERVER_SEND_FIREBASE_TOKEN} from '../store/actions/server'

  export default {
    name: 'login',
    data: () => ({
      email: '',
      isEmail: false
    }),
    computed: {
      redirectUrl() {
        return `${process.env.VUE_APP_BASE_URL}/settings`
      }
    },
    methods: {
      // authenticate: function (provider) {
      //   this.$auth.authenticate(provider).then(function () {
      //   })
      // },
      signIn() {
        this.$store.dispatch(AUTH_REQUEST, {
          login: this.email,
          from: 'google',
          role: 'client'
        })
          .then(() => {
            localStorage.setItem("role", "client")
            // this.getFirebaseToken()
            this.$router.push('places')
          })
      },
      // getFirebaseToken () {
      //   if (window.FirebasePlugin) {
      //     window.FirebasePlugin
      //       .getToken(function (token) {
      //         console.log('get Firebase token', token)
      //         this.postFirebaseToken(token)
      //       }).catch(function (error) {
      //         console.log('getFirebaseToken error', error)
      //       })
      //   } else {
      //     console.log('getFirebaseToken window not FirebasePlugin')
      //   }
      // },
      // postFirebaseToken (token) {
      //   localStorage.setItem('user-firebase', token)
      //
      //   window.FirebasePlugin.grantPermission()
      //
      //   window.FirebasePlugin.onNotificationOpen(function (notification) {
      //     console.log('notification', notification)
      //     alert(notification)
      //   }, function (error) {
      //     console.error(error)
      //   })
      //
      //   this.$store.dispatch(SERVER_SEND_FIREBASE_TOKEN, {
      //     Login: this.email,
      //     Token: localStorage.getItem('user-token'),
      //     FbToken: token
      //   })
      // }
    }
  }
</script>

<style scoped>
  .v-content {
    padding: 0;
    height: 100vh;
  }

  .title-custom {
    font-family: 'Montserrat-Bold', sans-serif !important;
    font-size: 24px !important;
    padding: 0 !important;
    color: #E41826;
    text-align: center !important;
  }

  .wrapper-nav {
    display: flex;
    justify-content: space-between;
  }

  .wrapper-card-text {
    height: calc(100% - 90px);
    justify-content: center;
    display: flex;
    align-items: center;
  }
</style>

<style>
  .ulogin-buttons-container {
    display: flex !important;
    justify-content: space-around;
    align-content: center;
  }

  .ulogin-buttons-container {
    width: 100% !important;
  }

  .ulogin-button-vkontakte {
    background: url(../../src/statics/images/icons/vk.png) 0 0 / 32px no-repeat !important;
  }

  .ulogin-button-odnoklassniki {
    background: url(../statics/images/icons/ok.png) 0 0/32px no-repeat !important;
  }

  .ulogin-button-facebook {
    background: url(../../src/statics/images/icons/facebook.png) 0 0 / 32px no-repeat !important;
  }

  .ulogin-button-yandex {
    background: url(../statics/images/icons/ya.png) 0 0 / 32px no-repeat !important;
  }

  .ulogin-button-mailru {
    background: url(../statics/images/icons/mail.png) 0 0 / 32px no-repeat !important;
  }
</style>
