<template>
    <div>
        <v-toolbar app dense>
            <v-toolbar-title>
                Карта кафе
            </v-toolbar-title>
        </v-toolbar>

        <v-toolbar class="orange lighten-2 toolbar-height"
                   v-if="discount && discount.Text"
                   dense>
            <div v-text="discount.Text" class="body-1"></div>
        </v-toolbar>


        <v-toolbar class="orange-gradient"
                   dense>
            <div v-text="'Поддержка - 99-60-52'" class="body-1"
            ></div>
        </v-toolbar>

        <v-flex xs12 sm8 md4>
              <v-card>
                <v-btn outlined fab class="btn-location" @click="fetchGeolocation">
                  <v-icon>my_location</v-icon>
                </v-btn>
                <div id="map"
                     @touchstart.prevent="selectedMarker = {}"
                     v-bind:style="{'height': mapHeight + 'px'}"></div>

                <v-layout v-if="selectedMarker.Name"
                          @touchstart.prevent="toCafe(selectedMarker)"
                          style="position: fixed; bottom: 42px; width: 100%; background: white;">
                    <v-flex xs4 style="display: flex;align-items: center;">
                        <div class="pl-2" style="height: 100px; width: 115px">
                            <img-load :url="selectedMarker.Pic"
                                      :zoom="false"></img-load>
                        </div>
                    </v-flex>
                    <v-flex xs8>
                        <v-card-title primary-title>
                            <div>
                                <div class="title" v-text="selectedMarker.Name"></div>
                                <span v-text="selectedMarker.Desc"
                                      style="height: 65px;display: inline-block;white-space: normal;overflow: hidden;"></span>
                            </div>
                        </v-card-title>
                    </v-flex>
                </v-layout>
            </v-card>
        </v-flex>
    </div>
</template>

<script>
    import {SERVER_CAFE_LIST} from '../store/actions/server'
    import imgLoad from '../components/imgLoad'

    export default {
        name: 'Places',
        components: {
            imgLoad
        },
        mounted() {
            this.getPlaces()

            this.mapHeight = window.screen.height - 40
        },
        data: () => ({
            mapHeight: '400',
            email: '',
            map: {},
            markers: [],
            isSheet: false,
            selectedMarker: {}
        }),
        computed: {
            places() {
                return this.$store.state.server.cafeList || []
            },
            discount() {
                return this.$store.state.server.discount || {}
            }
        },
        methods: {
            getPlaces() {
                this.$store.dispatch(SERVER_CAFE_LIST)
                    .then(() => {
                        this.fetchGeolocation()
                    })
            },
            fetchGeolocation() {
                navigator.geolocation.getCurrentPosition(this.onSuccess, this.onError)
            },
            onSuccess(position) {
                this.initMap(position.coords.latitude, position.coords.longitude)
            },
            initMap(lat, lng) {
                this.map = new window.google.maps.Map(document.getElementById('map'), {
                    center: {
                        lat,
                        lng
                    },
                    zoom: 12,
                    disableDefaultUI: true,
                    gestureHandling: 'greedy'
                })

                const markerUser = new window.google.maps.Marker({
                    position: {
                        lat,
                        lng
                    },
                    icon: {
                        url: require('../assets/ic_marker.png'),
                        size: {
                            width: 40,
                            height: 40
                        },
                        scaledSize: {
                            width: 40,
                            height: 40
                        }
                    },
                    map: this.map
                })

                this.addMarkers(this.places)
            },
            addMarkers(places) {
                this.markers = places.map(item => {
                    const marker = new window.google.maps.Marker({
                        position: {
                            lat: item.Lat,
                            lng: item.Lng
                        },
                        title: item.Name,
                        icon: {
                            url: require('../assets/ic_marker_cafe.png'),
                            size: {
                                width: 40,
                                height: 40
                            },
                            scaledSize: {
                                width: 40,
                                height: 40
                            }
                        },
                        map: this.map
                    })

                    // marker.on(window.plugin.google.maps.event.MARKER_CLICK, function () {
                    //   this.clickToMarker(item)
                    // }.bind(this))

                    marker.addListener('click', function () {
                        this.clickToMarker(item)
                    }.bind(this))

                    // marker.showInfoWindow()

                    return marker
                })
            },
            clickToMarker(item) {
                console.log(item)
                this.selectedMarker = item
                this.isSheet = true
            },
            toCafe(item) {
                this.$router.push({
                    name: 'cafeItem',
                    params: {
                        id: item.ID
                    }
                })
            }
        }
    }
</script>

<style>
    /* Set the size of the div element that contains the map */
    #map {
        height: 600px; /* The height is 400 pixels */
        width: 100%; /* The width is the width of the web page */
    }

    a[href^="http://maps.google.com/maps"] {
        display: none !important
    }

    a[href^="https://maps.google.com/maps"] {
        display: none !important
    }

    .gmnoprint a, .gmnoprint span, .gm-style-cc {
        display: none;
    }

    .gmnoprint div {
        background: none !important;
    }

    .btn-location {
        border-radius: 50% !important;
        position: fixed !important;
        right: 20px;
        bottom: 65px;
        z-index: 1;
        padding: 10px;
        transition: 0.5s;
    }

    .toolbar-height {

        height: 45px;
    }

    .orange-gradient {
        background: rgb(255, 183, 77);
        background: linear-gradient(rgb(255, 183, 77) 0%, rgba(255, 183, 77, 0.25) 100%, rgb(255, 183, 77) 100%);
    }
</style>
