<template>
    <div class="settings-container">

        <v-toolbar app dense>
            <v-toolbar-title>
                Настройки
            </v-toolbar-title>
        </v-toolbar>
        <!--<div id="uLogin"-->
        <!--data-ulogin="display=small;theme=flat;fields=first_name,last_name;providers=vkontakte,odnoklassniki,mailru,facebook,google;hidden=livejournal;redirect_uri=http%3A%2F%2F;mobilebuttons=0;"></div>-->

        <v-list two-line style="height: 100%;">

            <!--@click="isDialogShow = true"-->
            <v-list-tile @click="$router.push('login')"
                         v-if="!isActiveUser"
            >
                <v-list-tile-action>
                    <v-icon>account_circle</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>Войти</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>

            <v-card v-if="isActiveUser">
                <v-card-title>
                    {{userLogin}}
                </v-card-title>
            </v-card>

            <v-list-tile @click="logout()"
                         v-if="isActiveUser"
            >
                <v-list-tile-action>
                    <v-icon>exit_to_app</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>Выйти</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>

        <!--    <v-btn @click="update"/>-->

        <div class="subheading pa-3 white">Скоробуду. Сервис предварительного заказа в кафе города. Тел. поддержки -
            99-60-52
        </div>


        <dialog-login v-if="isDialogShow"
                      :isDialogShow='isDialogShow'
                      @closeDialog="isDialogShow = false"
                      @sign="login"></dialog-login>

    </div>
</template>

<script>

    import {AUTH_LOGOUT, AUTH_REQUEST} from '../store/actions/auth'
    import uuid from 'uuid'
    import dialogLogin from '../components/dialogLogin'

    export default {
        name: 'Settings',
        components: {
            dialogLogin
        },
        data() {
            return {
                isDialogShow: false,
            }
        },
        computed: {
            userLogin() {
                return localStorage.getItem("user-login")
            },
            isActiveUser() {
                return localStorage.getItem("role") === "client"
            }
        },
        mounted() {
            document.addEventListener('deviceready', this.onDeviceReady, false);
        },
        methods: {
            // onDeviceReady() {
            //   cordova.getAppVersion.getVersionNumber((version) => {
            //     console.log(version, 'version ++++++++++++++++++++++')
            //   });
            // },
            // update() {
            //   cordova.getAppVersion.getVersionNumber(function (versionNum) {
            //     alert(versionNum);
            //   });
            // },
            onSuccess(res) {
                console.log(res, 'succes')
            },

            onFail(fail) {
                console.log(fail, 'fail')
            },

            login(email) {
                this.$store.dispatch(AUTH_REQUEST, {
                    login: email,
                    from: 'google',
                    role: 'client'
                })
                    .then(() => {
                        localStorage.setItem("role", "client")
                        this.isDialogShow = false
                    })
                    .catch(() => {
                        this.isDialogShow = false
                    })
            },
            logout() {
                this.$store.dispatch(AUTH_LOGOUT)
                    .then(() => {
                        localStorage.setItem("role", "guest")
                        this.signInGuest()
                    })
            },
            signInGuest() {
                this.$store.dispatch(AUTH_REQUEST, {
                    login: uuid(),
                    from: 'google',
                    role: 'guest'
                })
                    .then(() => {
                        this.$router.push('places')
                    })
            }
        }
    }
</script>
<style scoped>
    .settings-container {
        height: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
</style>
