<template>
  <v-dialog v-model="isDialogShow">
    <v-card>
      <v-card-title
        class="headline grey lighten-2"
        primary-title
      >
        Необходима авторизация
      </v-card-title>

      <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap>
            <v-flex xs12>
              <v-text-field v-model="email"
                            label="Email"
                            :rules="[() => !!/\S+@\S+\.\S+/.test(email) || 'Неправильный email']"
                            type="email"
                            required></v-text-field>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn @touchstart.prevent="$emit('closeDialog')"
               color="primary"
               flat>
          Отмена
        </v-btn>
        <v-btn @touchstart.prevent="$emit('sign', email)"
               color="primary"
               flat>
          Авторизация
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'dialogLogin',
  props: {
    isDialogShow: Boolean
  },
  data: () => ({
    email: ''
  })
}
</script>
