<template>
  <div @click="changeZoom()"
       v-bind:style="styleObjWrapper"
       style="height: 100%; width: 100%;">
    <v-layout fill-height
              align-center
              justify-center
              ma-0>
      <v-img :src="url"
             v-bind:style="styleObj"
             contain
             v-show="isLoad && url.length"
             @load="loaded"
             style="width: 100%;height: auto;"
      >
        <template v-slot:placeholder>
          <v-layout fill-height
                    align-center
                    justify-center
                    ma-0>
            <v-progress-circular indeterminate color="orange"/>
          </v-layout>
        </template>
      </v-img>
      <v-img :src="defaultUrl"
             v-if="!url.length"
             v-bind:style="styleObj"
             contain
             style="width: 100%;height: auto;"
      />
    </v-layout>
  </div>
</template>

<script>
  export default {
    name: 'dialogLogin',
    props: {
      url: {
        type: String
      },
      zoom: {
        type: Boolean,
        default: true
      }
    },
    data() {
      return {
        defaultUrl: require('../statics/images/default_image.jpg'),
        isLoad: false,
        isFullImg: false
      }
    },
    computed: {
      styleObj() {
        return this.isFullImg && this.zoom
          ? {
            width: '70%',
            height: '100%',
            position: 'fixed',
            top: 0,
            left: '15%',
            zIndex: 5,
            display: 'inline-block'
          }
          : {}
      },
      styleObjWrapper() {
        return this.isFullImg && this.zoom
          ? {
            width: '100%',
            height: '100%',
            position: 'fixed',
            top: 0,
            left: 0,
            zIndex: 4,
            display: 'inline-block',
          }
          : {}
      }
    },
    methods: {
      loaded() {
        this.isLoad = true
      },
      changeZoom() {
        if (!this.isFullImg) {
          setTimeout(function () {
            this.isFullImg = true
          }.bind(this), 200)
        } else {
          this.isFullImg = false
        }
      }
    }
  }
</script>
