<template>
    <div>
        <v-snackbar
                v-model="snackbar"
                :timeout="1500"
                top
        >
            {{ snackbarText }} в корзине
            <v-btn fab
                   @click="snackbar = false"
                   dark
                   small
                   outline
                   color="white"
                   class="button__clear">
                <v-icon dark>clear</v-icon>
            </v-btn>
        </v-snackbar>

        <!--    <v-toolbar fixed app :clipped-left="clipped">-->
        <!--      <img src="public/fork.svg" class="header__icon" alt="">-->
        <!--      <v-toolbar-title v-text="title"></v-toolbar-title>-->
        <!--      <v-spacer></v-spacer>-->
        <!--    </v-toolbar>-->

        <v-content style="padding-top: 0; padding-bottom: 100px">
            <v-container fluid id="containerTabs" style="padding: 0">

                <v-layout v-for="category in categories"
                          :id="category.id"
                          :key="category.name"
                          wrap>
                    <v-flex xs12 md4 sm4
                            v-for="product in filterProductsByCategory(products, category.name)"
                            :key="product.name"
                    >
                        <v-card color="white" class="product__item elevation-0">
                            <v-layout>
                                <v-flex xs4 class="product__item-img__container">
                                    <img-load :url="product.img"></img-load>
                                </v-flex>
                                <v-flex xs8>
                                    <v-card-text primary-title>
                                        <div class="title mb-1">
                                            {{ product.name }}
                                        </div>
                                        <div @click="openOrClose(product)"
                                             v-clampy="product.clampy">
                                            {{ product.description }}
                                        </div>
                                        <v-layout class="product__item-action">
                                            <v-flex xs3 class="subheading font-weight-bold">
                                                {{ product.price }} ₽
                                            </v-flex>
                                            <v-flex xs9>
                                                <v-btn @click="toBasket(product)"
                                                       v-if="!product.basket"
                                                       color="amber darken-3"
                                                       dark
                                                       class="elevation-0"
                                                >
                                                    В корзину
                                                    <v-icon dark right>shopping_cart</v-icon>
                                                </v-btn>

                                                <div v-else class="component__counted">
                                                    <v-btn depressed
                                                           small
                                                           @click="componentCountDown(product)"
                                                           color="amber darken-3"
                                                           class="component__counted-down">
                                                        <v-icon right>remove</v-icon>
                                                    </v-btn>
                                                    <span>{{ product.count }}</span>
                                                    <v-btn depressed
                                                           small
                                                           @click="componentCountUp(product)"
                                                           color="amber darken-3"
                                                           class="component__counted-up">
                                                        <v-icon right>add</v-icon>
                                                    </v-btn>
                                                </div>

                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-flex>
                            </v-layout>
                        </v-card>
                    </v-flex>
                </v-layout>

                <v-card id="element" color="white" class="mt-4 basket__container"
                        style="margin-bottom: 50px;"
                        v-if="basket.length > 0">
                    <v-card-title class="title font-weight-bold">
                        Корзина
                    </v-card-title>
                    <v-card-text>
                        <v-layout wrap>
                            <v-flex xs12
                                    v-for="item in basket"
                                    :key="item.name"
                            >
                                <v-card color="amber lighten-4">
                                    <v-card-text>
                                        <v-layout wrap>
                                            <v-flex xs9 class="subheading font-weight-bold">
                                                {{ item.name }}
                                            </v-flex>
                                            <v-flex xs3 class="subheading font-weight-bold text-xs-right">
                                                {{ item.price * item.count }} ₽
                                            </v-flex>
                                            <v-flex xs6>
                                                <v-btn @touchstart.prevent="deleteProduct(item)"
                                                       fab
                                                       dark
                                                       small
                                                       outline
                                                       color="black"
                                                       class="button__clear">
                                                    <v-icon dark>clear</v-icon>
                                                </v-btn>
                                            </v-flex>
                                            <v-flex xs6 class="component__counted-container">
                                                <div class="component__counted">
                                                    <v-btn depressed
                                                           small
                                                           @touchstart.prevent="componentCountDown(item)"
                                                           color="amber darken-3"
                                                           class="component__counted-down">
                                                        <v-icon right>remove</v-icon>
                                                    </v-btn>
                                                    <span>{{ item.count }}</span>
                                                    <v-btn depressed
                                                           small
                                                           @touchstart.prevent="componentCountUp(item)"
                                                           color="amber darken-3"
                                                           class="component__counted-up">
                                                        <v-icon right>add</v-icon>
                                                    </v-btn>
                                                </div>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>

                            </v-flex>
                            <v-flex xs12 mt-3 class="basket__amount-all">
                                <span class="subheading font-weight-bold">Общая стоимость</span>
                                <span class="subheading font-weight-bold">{{ amountAll }} ₽</span>
                            </v-flex>
                            <v-flex xs12>
                                <v-dialog
                                        ref="dialog"
                                        v-model="modal2"
                                        :return-value.sync="time"
                                        persistent
                                        lazy
                                        full-width
                                        width="290px"
                                >
                                    <v-text-field
                                            slot="activator"
                                            v-model="time"
                                            label="Время готовности"
                                            prepend-icon="access_time"
                                            :error="isTimeInvalid"
                                            readonly
                                    ></v-text-field>
                                    <v-time-picker
                                            v-if="modal2"
                                            @change="isTimeInvalid = false"
                                            v-model="time"
                                            full-width
                                            format="24hr"
                                            :min="minTime"
                                    >
                                        <v-spacer></v-spacer>
                                        <v-btn flat color="primary" @click="modal2 = false">Отменить</v-btn>
                                        <v-btn flat color="primary" @click="$refs.dialog.save(time)">OK</v-btn>
                                    </v-time-picker>
                                </v-dialog>
                            </v-flex>
                        </v-layout>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn @click="send"
                               :loading="pendingServer"
                               dark
                               id="btn"
                               color="amber darken-3"
                        >
                            Заказать
                            <v-icon right>send</v-icon>
                        </v-btn>
                    </v-card-actions>
                </v-card>

                <div v-if="basket.length > 0"
                     @click="$vuetify.goTo('#element', goToOptions)"
                     class="cart__container dark" style="background: #FF4201;">
                    <v-container fluid style="flex-direction: row;display: flex; color: white; padding: 10px 16px;">
                        <div style="display: flex;align-items: center;">
                            <v-icon dark>shopping_cart</v-icon>
                            Корзина
                        </div>

                        <v-spacer></v-spacer>

                        <div>
                            <span class="subheading font-weight-bold">{{ amountAll }} ₽</span>
                        </div>
                    </v-container>

                    <!--          <v-btn v-if="cartIcon"-->
                    <!--                 fab-->
                    <!--                 dark-->
                    <!--                 @click="$vuetify.goTo('#element', goToOptions)"-->
                    <!--                 style="bottom: 40px;"-->
                    <!--                 color="amber darken-3">-->
                    <!--            <v-icon dark>shopping_cart</v-icon>-->
                    <!--          </v-btn>-->
                </div>

                <div v-if="categories.length > 0"
                     style="bottom: 43px; height: 46px; position: fixed;left: 0; width: 100%">
                    <v-tabs color="#FFBD01"
                            dark
                            show-arrows
                            max>
                        <v-tab v-for="category in categories"
                               @click="updateRoute(category.id)"
                               :key="category.title"
                               :value="category.title"
                               :ripple="false"
                               flat>
                            <span class="body-2">{{ category.title }}</span>
                        </v-tab>
                    </v-tabs>
                </div>

            </v-container>
        </v-content>
    </div>
</template>

<script>

    import moment from 'moment'
    import clampy from '@clampy-js/vue-clampy'
    import imgLoad from './imgLoad'
    import {SET_BASKET} from '../store/actions/server'

    export default {
        name: 'Products',
        components: {
            imgLoad
        },
        directives: {
            clampy
        },
        props: {
            forceOrder: {
                type: Boolean,
                default: false
            },
            data: Object,
            pendingServer: Boolean,
            cafeId: [String, Number]
        },
        data() {
            return {
                bottomNav: 0,
                clipped: false,
                drawer: true,
                fixed: false,
                active: 0,
                items: [
                    {icon: 'bubble_chart', title: 'Inspire'}
                ],
                miniVariant: false,
                right: true,
                rightDrawer: false,
                title: '',
                categories: [],
                products: [],
                basket: [],
                time: null,
                isTimeInvalid: false,
                modal2: false,
                phone: '',
                snackbarText: '',
                snackbar: false,
                cartIcon: false,
                alienOrder: false,
                dialogLayer: false,
                goToOptions: {
                    duration: 500,
                    offset: -55,
                    easing: 'easeInOutCubic'
                }
            }
        },
        mounted() {
            this.title = this.data.title
            this.categories = this.data.categories
            this.products = this.data.products.map((item, i) => {
                return Object.assign({
                    id: i,
                    count: 1,
                    basket: false,
                    clampy: 3
                }, item)
            })

            if (this.cafeId === this.$store.state.server.basket.cafeId) {
                this.basket = jsonCopy(this.$store.state.server.basket.items)
            } else if (this.$store.state.server.basket.items.length > 0) {
                this.alienOrder = true
            }
        },
        watch: {
            forceOrder(n) {
                if (n) {
                    const id = document.getElementById("btn")
                    id.click()
                    this.$emit("changeForceOrder", false)
                }
            },
            'basket'() {
                if (this.basket.length > 0) {
                    this.cartIcon = true
                } else {
                    this.cartIcon = false
                }
            }
        },
        computed: {
            amountAll() {
                let amount = 0
                this.basket.forEach(product => {
                    amount = amount + (product.count * product.price)
                })
                return amount
            },
            minTime() {
                const bascetTime = this.basket.reduce((acc, item) => {
                    return acc + (item.time * item.count)
                }, 0)
                return moment().add(bascetTime, 'minutes').format('HH:mm')
            }
        },
        methods: {
            openOrClose(product) {
                product.clampy === 3
                    ? product.clampy = 9
                    : product.clampy = 3
            },
            changeTime(e) {
                console.log('newTime', e)
                this.time = e.target.value
            },
            toBasket(product) {
                let confirmAbortingOrder = true

                if (this.alienOrder) {
                    confirmAbortingOrder = confirm('Блюда в корзине добавленные раннее будут удалены')
                }
                if (!confirmAbortingOrder) {
                    return false
                } else {
                    this.alienOrder = false
                }

                this.basket.push(product)

                const basket = jsonCopy({
                    items: this.basket,
                    cafeId: this.cafeId
                })

                this.$store.dispatch(SET_BASKET, basket)
                    .then()

                product.basket = true
                this.snackbarShow(product)
            },
            noop() {

            },
            componentCountDown(product) {
                if (product.count !== 1) {
                    product.count = Number(product.count) - 1
                } else {
                    this.deleteProduct(product)
                }
            },
            componentCountUp(product) {
                product.count = Number(product.count) + 1
            },
            snackbarShow(product) {
                this.snackbarText = product.name
                this.snackbar = true
            },
            deleteProduct(product) {
                let filter = this.basket.filter(function (productItem) {
                    return productItem.id !== product.id
                })

                this.products.forEach(productItem => {
                    if (productItem.id === product.id) {
                        product.basket = false
                    }
                    product.count = 1
                })

                this.basket = filter
            },
            onDoneScroll() {
                this.cartIcon = false
            },
            send() {
                const basket = jsonCopy({
                    items: [],
                    cafeId: ''
                })

                if (!this.time) {
                    this.isTimeInvalid = true
                    return false
                }

                this.$store.dispatch(SET_BASKET, basket)
                    .then()

                this.basket.time = this.time
                this.$emit('buy', {
                    time: this.time,
                    orders: this.basket,
                    total: this.amountAll
                })
            },
            updateRoute(route) {
                this.$vuetify.goTo(`#${route}`)
            },
            filterProductsByCategory(products, category) {
                return products.filter(product => product.category === category)
            }
        }
    }

    function jsonCopy(src) {
        return JSON.parse(JSON.stringify(src))
    }
</script>

<style scoped>
    .header__icon {
        max-width: 45px;
    }

    .basket__amount-all {
        display: flex;
        justify-content: space-between;
        padding: 0 16px;
    }

    .theme--light.v-toolbar {
        background-color: #ffffff;
        color: rgba(0, 0, 0, 0.87);
    }

    .theme--light.application {
        background: #ffffff;
        color: rgba(0, 0, 0, 0.87);
    }

    .cart__container {
        position: fixed;
        bottom: 88px;
        left: 0;
        height: 45px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .component__counted-container {
        display: flex;
        justify-content: flex-end;
    }

    .product__item-img__container {
        display: flex;
        align-items: center;
    }

    .product__item-img__container .v-image {
        height: 95%;
        margin-left: -77%;
    }

    .product__item-img__container .v-image__image {
        max-width: 197px;
        max-height: 198px;
    }

    .product__item {
        border-radius: 8px;
        padding: 8px;
        margin: 8px;
        overflow: hidden;
        height: 96%;
    }

    .product__item .v-card__text {
        padding: 8px;
    }

    .product__item-action {
        align-items: center;
    }

    .component__counted {
        display: flex;
        width: 148px;
        height: 48px;
        align-items: center;
        justify-content: flex-end;
    }

    .component__counted button {
        width: 30px;
        min-width: 30px;
    }

    .component__counted button i {
        margin: 0 !important;
        color: white !important;
    }

    .component__counted-down {
        margin-left: 0 !important;
    }

    .component__counted-up {
        margin-right: 0 !important;
    }

    .button__clear {
        width: 30px !important;
        height: 30px !important;
    }

    .basket__container .v-card__actions {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .v-toolbar__title {
        font-size: 16px;
    }

    @media screen and (max-width: 980px) {
        .section {
            padding-bottom: 30px;
        }
    }

    @media screen and (max-width: 600px) {
        .product__item {
            margin: 0;
        }

        .header__icon {
            max-width: 45px;
        }

        .v-toolbar__title {
            font-size: 14px;
        }

        .v-toolbar__title:not(:first-child) {
            margin-left: 5px;
        }
    }
</style>
