<template>
    <v-app>
        <v-content style="height: 100vh;">
            <router-view/>
        </v-content>
        <v-bottom-nav
                v-if="$route.name !== 'login'"
                :active.sync="bottomNav"
                :value="true"
                fixed
                app
                color="white"
                style="height: 44px"
        >
            <v-btn @click="updateRoute('places')"
                   color="#FF4201"
                   flat
                   value="places"
                   :ripple="false"
            >
                <v-icon>place</v-icon>
            </v-btn>

            <v-btn @click="updateRoute('list')"
                   color="#FF4201"
                   flat
                   value="list"
                   :ripple="false"
            >
                <v-icon>fastfood</v-icon>

                <!--<v-img x-small color="#FF4201" contain :src="url"></v-img>-->

            </v-btn>

            <v-btn @click="updateRoute('lastOrders')"
                   color="#FF4201"
                   flat
                   value="lastOrders"
                   :ripple="false"
            >
                <v-icon>history</v-icon>
            </v-btn>

            <v-btn @click="updateRoute('settings')"
                   color="#FF4201"
                   flat
                   value="settings"
                   :ripple="false"
            >
                <v-icon>menu</v-icon>
            </v-btn>

        </v-bottom-nav>
    </v-app>
</template>

<script>
    import {SERVER_CAFE_LIST, SERVER_GET_DISCOUNT} from './store/actions/server'
    import {AUTH_REQUEST} from './store/actions/auth'
    import uuid from 'uuid'
    import FastClick from 'fastclick'

    export default {
        name: 'home',
        data: () => ({
            bottomNav: 0,
            toolbarTitles: {
                list: 'Все заведения',
                last: 'Последние заказы',
                orders: 'Частые заказы',
                places: 'Кафе рядом'
            },
            url: require('./statics/images/kisspng-hamburger.jpg'),
            appMetricaConfiguration: {
                apiKey: '43b12c36-5a54-4dec-92b5-395813dad451'
            }
        }),
        mounted() {
            console.log(1, 'res')
            document.addEventListener('deviceready', function () {
                navigator.splashscreen.hide()

                setTimeout(function () {
                    window.FirebasePlugin.grantPermission()
                }, 2000)

                setTimeout(function () {
                    if (window.appMetrica) {
                        window.appMetrica.activate(this.appMetricaConfiguration)

                        FastClick.attach(document.body)
                    }
                }, 2000)
            })

            this.getDiscount()

            if (!localStorage.getItem('user-token')) {
                this.signIn()
            } else {
                this.$router.push({name: 'onboarding'})
            }
        },
        watch: {
            '$route'(to, from) {
                console.log('watch $route to', to)
                this.bottomNav = to.name
            }
        },
        methods: {
            getDiscount() {
                this.$store.dispatch(SERVER_GET_DISCOUNT)
            },
            getPlaces() {
                this.$store.dispatch(SERVER_CAFE_LIST)
                this.$router.push({name: 'places'})
            },
            updateRoute(route) {
                console.log('route', route)
                this.bottomNav = route
                this.$router.push({name: route})
            },
            signIn() {
                this.$store.dispatch(AUTH_REQUEST, {
                    login: uuid(),
                    from: 'google',
                    role: 'guest'
                })
                    .then(() => {
                        localStorage.setItem("role", "guest")
                        return this.getPlaces()
                    })
            }
        }
    }
</script>
<style>

    .ulogin-button-mailru {
        background: url(../src/statics/images/icons/mail.png) 0 0 / 32px no-repeat !important;
    }
</style>
